.add-poke {
  display: flex;
  justify-content: space-between;
  padding: 28px 16px 96px;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__wrap {
    width: calc(100% - 77px);
  }

  &__emoji {
    width: 64px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: -0.51px;
    text-align: center;
    color: transparentize(#424d63, .5);
  }

  &__add-emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 18px;
    background-color: transparentize(#1d52ad, .9);
    border: solid 3px #8f35ff;
    transition: border $transition;

    &.empty {
      border-color: transparent;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 42px;
        height: 42px;
        transform: translate(-50%, -50%);
        opacity: .1;
        background: {
          image: url(assets/icon/icon-plus.svg);
          position: center;
          repeat: no-repeat;
          size: contain;
        };
        content: '';
      }
    }

    .tp-icon {
      font-size: 32px;
    }
  }

  .mark {
    margin-bottom: 22px;
  }

  .rating {
    margin-bottom: 17px;

    &__stars {
      height: 22px;
      width: 138px;
      margin-bottom: 0;
      background-size: 28px 22px;
    }
  }
}
