.mark {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 15.5px;
  background-color: #ffcc00;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.51px;
  text-align: center;
  color: transparentize(#424d63, .2);
}
